.section {
  display: flex;
  justify-content: center;
  margin-top: 1.25rem;
  column-gap: 12.5rem;
  column-count: 3;
}
.mainsec {
  background-color: rgb(20, 20, 20);
}
.sec1,
.sec2,
.sec3 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6.25rem;
  width: 12.5rem;
  transform: skew(-14deg);
  background-color: rgb(44, 44, 44);
}
/* @media (max-width: 700px) {
  .mainsec {
    display: none;
  }
} */

/* @media (max-width: 768px) {
  html {
    font-size: 45%;
  }
} */
